<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>鈴蘭の剣 - <%= c.name %></title>
</head>
<body>
  <h1><%= c.name %></h1>
  <p>属性: <%= c.element %></p>
  <p>武器: <%= c.weapon %></p>
  <p>レア: ★<%= c.rarity %></p>
  <p>説明:</p>
  <pre><%= c.description %></pre>
  <p><a href="/characters">検索に戻る</a></p>
</body>
</html> 